<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <tests.Properties.Settings>
            <setting name="NASHostname" serializeAs="String">
                <value>172.16.61.194</value>
            </setting>
            <setting name="NASUsername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="NASPassword" serializeAs="String">
                <value>prhSBg0yk0</value>
            </setting>
            <setting name="NASVMServerHostname" serializeAs="String">
                <value>vmnodea</value>
            </setting>
            <setting name="NASVMServerUsername" serializeAs="String">
                <value>applejack</value>
            </setting>
            <setting name="NASVMServerPassword" serializeAs="String">
                <value>Zwqx1eYlbhiN3YdCtOzM</value>
            </setting>
            <setting name="NASVMName" serializeAs="String">
                <value>applejack-freenas</value>
            </setting>
        </tests.Properties.Settings>
    </userSettings>
</configuration>