<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)" GeneratedClassNamespace="tests.Properties" GeneratedClassName="Settings">
  <Profiles />
  <Settings>
    <Setting Name="NASHostname" Type="System.String" Scope="User">
      <Value Profile="(Default)"></Value>
    </Setting>
    <Setting Name="NASUsername" Type="System.String" Scope="User">
      <Value Profile="(Default)">root</Value>
    </Setting>
    <Setting Name="NASPassword" Type="System.String" Scope="User">
      <Value Profile="(Default)"></Value>
    </Setting>
    <Setting Name="NASVMServerHostname" Type="System.String" Scope="User">
      <Value Profile="(Default)">vmnodea</Value>
    </Setting>
    <Setting Name="NASVMServerUsername" Type="System.String" Scope="User">
      <Value Profile="(Default)"></Value>
    </Setting>
    <Setting Name="NASVMServerPassword" Type="System.String" Scope="User">
      <Value Profile="(Default)"></Value>
    </Setting>
    <Setting Name="NASVMName" Type="System.String" Scope="User">
      <Value Profile="(Default)"></Value>
    </Setting>
  </Settings>
</SettingsFile>